<form {{action "login" on="submit"}}>
  <fieldset>
    <p class="p2">Get going ...</p>
    Enter your username ...{{input type="text" placeholder="Your username" value=username}}
    <hr color=#EEEEEE>
    Enter your password ...{{input type="password" placeholder="Your password" value=password}}
    <hr color=#EEEEEE>
    <button class="button" type="submit">Log in</button>
    <p class="p1">
      {{#link-to "home.reset"}}Recover password{{/link-to}}<span> or </span>{{#link-to "home.signup"}}Sign up{{/link-to}}
    </p>
  </fieldset>
</form>
{{#if error}}
<div class="err-msg">Error: {{error}}</div>
{{/if}}
