 <form {{action "reset" on="submit"}}>
     <fieldset>
         <p class="p2">Reset password</p>
          Enter your email ...{{input type="email" placeholder="Your email" value=email }}
         <hr color=#EEEEEE>
         <button class="button" type="submit">Reset password</button>
                  
     </fieldset>
</form>
{{#if error}}
  	<div class="err-msg">Error: {{error}}</div>
{{/if}}


