<form>
  <fieldset>
    <p class="p2">Check your inbox</p>
    We've sent you a recovery password in your email inbox.
  </fieldset>
  <p class="p1">
      {{#link-to "home.login"}}Log in{{/link-to}}
  </p>
</form>
