<div class = "home">
	<div class = "container">
		<div class="left">
			<img src="images/telegram-logo.png"/>
		</div>
		<div class ="vline"></div>
		<div class ="right">
			<div class = "postmark">
				<img src="images/postmark.png"/>
			</div>
			<br>

			{{outlet}}
		</div>
	</div>
</div>
